/.mvn/timing.properties
# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
dependency-reduced-pom.xml
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
## Plugin-specific files:

# IntelliJ
*.lastchange

# Vagrant
.vagrant/

# Gitbook
_book/
node_modules/

.gradle/
build/
!buildSrc/src/main/groovy/org/testcontainers/build
out/
*.class

# Eclipse IDE files
**/.project
**/.classpath
**/.settings
**/bin/
**/out/

# Generated docs
site/
.direnv/
src/mkdocs-codeinclude-plugin
src/pip-delete-this-directory.txt

.DS_Store

# Codespaces / VSCode
/.vscode/