steps:
- task: Gradle@2
  displayName: Build core
  inputs:
    gradleWrapperFile: 'gradlew'
    options: '--no-daemon --continue'
    tasks: 'testcontainers:check'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    env:
      _JAVA_OPTIONS: "-Djava.net.preferIPv4Stack=true"
- task: Gradle@2
  displayName: Build modules
  inputs:
    gradleWrapperFile: 'gradlew'
    options: '--no-daemon --continue -x testcontainers:check'
    tasks: 'check'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'


