name: Combine PRs

on:
  workflow_dispatch:

jobs:
  combine-prs:
    permissions:
      contents: write
      pull-requests: write
      checks: read
    runs-on: ubuntu-latest
    steps:
      - name: combine-prs
        id: combine-prs
        uses: github/combine-prs@v5.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
